/Library/Application Support/Cursor/*
!/Library/Application Support/Cursor/User/
/Library/Application Support/Cursor/User/*Storage*
!/.config/yazi/.toml$
.config/scripts/src/
.claude/skills/sherlock/logs
.claude/skills/sherlock/sherlock
.claude/skills
.codex/skills
